@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 210 71.4% 41.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14.3% 95.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 220 14.3% 95.1%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.1%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 210 71.4% 38.4%;
    --radius: 0.5rem;
    --sidebar-background: 220 14.3% 95.1%;
    --sidebar-foreground: 240 5.9% 10%;
    --sidebar-primary: 210 71.4% 41.8%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 142 76.3% 63.1%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 210 71.4% 38.4%;
    --profit: 142 76.3% 63.1%;
    --loss: 0 84.2% 60.2%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 71.4% 41.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14.3% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 14.3% 14.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 14.9%;
    --input: 220 13% 14.9%;
    --ring: 210 71.4% 38.4%;
    --radius: 0.5rem;
    --sidebar-background: 220 14.3% 14.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 71.4% 41.8%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 142 76.3% 63.1%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 14.9%;
    --sidebar-ring: 210 71.4% 38.4%;
    --profit: 142 76.3% 63.1%;
    --loss: 0 62.8% 30.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
